<section class="card">
  <a href="/post/{{id}}">
    <header class="header"><span>
      {{title}}</span>
      <span>Posted by 
      {{user.name}} on {{format_date createdAt}}</span></header>
    <div class="card-body">
      {{post_content}}
    </div>
  </a>
</section>