<section class="card">
  <a href="/dashboard/post/{{id}}">
    <header>
      <span>{{title}}</span>
      <span>{{format_date createdAt}}</span>
    </header>
  </a>
  <div>
    <p><a href="/api/post/edit/{{id}}">Update Post</a><span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <a href="/api/post/delete/{{id}}">Delete Post</a></p>

    {{!-- <button class = "deletebtn" id="delete" data-id="{{id}}">Delete</button> --}}
          
  </div>
</section>

 <script src="/js/edit-post.js"></script>