<section class="card">
    <h2>{{post.title}}</h2>
<div>
    <h3> content: 
      {{post.post_content}}
    </h3>
    <p>Created by {{post.user.name}} on  {{format_date post.createdAt}}</p>
</p>
  </div>
</section>

{{#if post.comments}}
  <h2>Comments</h2>
  {{#each post.comments as |comment|}}
    <section class='card'>
      <div
        class='flex justify-between'>

        <h3>{{comment.comment}}</h3>
        <p>Posted by {{comment.user.name}} on {{format_date comment.createdAt}}</p>
           </div> 
     
    </section>
  {{/each}}
{{/if}}

<section class="card">
    <h3>Add Comment</h3>
  <form
    class='flex'
    id='comment-form'>
    <textarea id='comment' class='mb-2' required></textarea>
    <button
      type='submit'>Submit</button>
  </form>
</section>
 <script src="/js/comments.js"></script>